html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

<<<<<<< Updated upstream
.CenteredContainer{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;

}

    .CenteredContainer form {
        background: linear-gradient(to left, #008000, #008000);
        padding: 3em;
        border-radius: 20px;
    }
=======
html {
    position: relative;
    min-height: 20%;
}

body {
    margin-bottom: 50px;
}
>>>>>>> Stashed changes
