<<<<<<< Updated upstream
﻿@page
@model CyberRoads.Views.Home.LoginModel
@{
    ViewData["Tittle"] = "Log in";


}


<div class="row">
    <div class="col-3 container CenteredContainer">
        <selection>
            <fore id="accont" method="post">
                <h5>Welcome   </h5>

            </fore>
        </selection>

    </div>

</div>
=======
﻿@{
    ViewData["Title"] = "PRIVETy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> Stashed changes
