@{
    ViewData["Title"] = "REGISTER SCREEN";
}


<head>
    <link href=""~/Scripts/Register.css" rel="stylesheet" />
</head>
<body>
         <form action="">
        <h1> REGISTER </h1>
            <div>
                 <input type ="text" placeholder="Username" required="" id="username"/>
            </div>
                <div>
                    <input type ="text" placeholder="Password" required="" id="Password"/>
                </div>
                    <div>
                        <input type ="text" placeholder="Mail" required="" id="Mail"/>
                    </div>
                    <input type="submit" value="Register"/>
                 <div class="button">
                </div><!-- button-->
              </form><!-- Form -->
    
</body>
